// VERSION TABLET

/*RESPONSIVE TABLET*/

@media (min-width: 768px) and (max-width: 1023px){

    /*NAV BAR TABLET*/

    .navbar{
        width: 50%;
        display: flex;
        flex-direction: column;
        header{
            margin-bottom: 15px;
        }
    }

    /*INDEX PRINCIPAL TABLET*/

    .contenido-principal{
        display: flex;
        flex-direction: column;
        width: 100%;
        div{
            width: 50%;
        }
    }


    .contenido-sec{
        display: grid;
        grid-template-columns: 250px 250px 250px;
        grid-template-rows: 250px 250px;
        div{
            width: 200px;
            height: 200px;
            p{
                font-size: small;
                padding: 30px;
            }
        }
    }

.animation-start-right{
    animation-name: none;
               
}


    //FOOTER

    /*FOOTER TABLET*/

    .pie-pagina .grupo-1 .box h2{
        margin-left: 5px;
    }


    //PRESENTATION INDEX TABLET


    //SERVICIOS TABLET

    .servicios{
        img{
            height: 250px;
            width: 400px;
            margin: 15px;}
        p{
            height: 300px;
            width: 300px;
            font-size: 25px;
        }
    }

    //NUESTRA FLOTA TABLET

    .flota{
        img{
            width: 315px;
            height: 250px;
        }
    }

    //FORMULARIO TABLET

    /*FORMULARIO TABLET */

    .formulario{
        background-image: url(../imagenes/ruta40dos.jpg);}
        form{
            margin: 88px 0 88px 0;
        }      
}

//RESPONSIVE MOBILE

/*RESPONSIVE MOBILE*/

@media (max-width: 480px){

    /*NAV BAR MOBILE*/

    .navbar{
        width: 90%;
        display: flex;
        flex-direction: column;
        header{
            margin-bottom: 15px;}
            ul li{
                display: block;
                margin-bottom: 5px;
                
                a{
                    font-size: large;
                    
                }
            }
        
        
    }


    //FOOTER MOBILE

    /*FOOTER MOBILE*/ 

    .pie-pagina .grupo-1{
        grid-template-columns: repeat(1, 1fr);
        
    }

    //INDEX PRINCIPAL MOBILE

    /*INDEX PRINCIPAL MOBILE*/

    .contenido-principal{
        div{
            .stytextindex{
                font-size: x-large;
                margin-top: 190px;
            }
        }
    }

    .contenido-sec{
        grid-template-columns: 350px;
        grid-template-rows: 200px;
        align-items: center;
        div{
            height: 200px;
            p{
                padding-top: 50px;
                font-size: small;
            }
        }
    }

    .animation-start-right{
        animation-name: none;}

    //PRESENTATION INDEX MOBILE

    /*PRESENTATION INDEX MOBILE*/

    /*.us{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p{
            font-size: medium;}
        img{
            margin-top: 10px;
            width: 50px;
            height: 50px;
        }
    }

    .img-us{
        visibility: hidden;
        position: fixed;
    }*/

    .slider{
        width: 400px;
        margin: auto;}
        ul li img{
            width: 400px;
        }

    .us{
        h2{
            text-align: center;
            align-items: center;
        }
        p{
            font-size: medium;
        }
    }

    //SERVICIOS INDEX MOBILE

    /*SERVICIOS MOBILE*/

    .servicios{
        .contenido-prod{
            flex-direction: column;
            justify-content: center;
            margin: 15px 0 15px 0;
            box-shadow: none;
            img{
                width: 350px;
            }
            p{
                height: 100px;
                width: 350px;
                font-size: large;
            }
        }
    }




    //FORMULARIO MOBILE

    /*FORMULARIO MOBILE*/

   
}