// VERSION TABLET

/*RESPONSIVE TABLET*/

@media (min-width: 768px) and (max-width: 1023px){

    /*NAV BAR TABLET*/

    .navbar{
        width: 50%;
        display: flex;
        flex-direction: column;
        header{
            margin-bottom: 15px;
        }
    }

    /*INDEX PRINCIPAL TABLET

    .contenido-principal{
        display: flex;
        flex-direction: column;
        width: 100%;
        div{
            width: 50%;
        }
    }


    .contenido-sec{
        display: grid;
        grid-template-columns: 250px 250px 250px;
        grid-template-rows: 250px 250px;
        div{
            width: 200px;
            height: 200px;
            p{
                font-size: small;
            }
        }
    }


    //FOOTER

    /*FOOTER TABLET*/

    .pie-pagina .grupo-1 .box h2{
        margin-left: 5px;
    }


    //PRESENTATION INDEX TABLET

    .us{
        display: flex;
        flex-direction: column;
        img{
            justify-content: center;
            width: 50px;
            height: 50px;}
        p{
            border: 1px solid cyan;
        }
    }

    //SERVICIOS TABLET

    .servicios{
        background-image: none;
        grid-template-columns: 400px 400px;
        img{
            height: 250px;
            width: 250px;
            margin: 15px;}
        p{
            height: 300px;
            width: 300px;
            font-size: 25px;
            background-image: url(../imagenes/backfortext.jpg);
            margin: 15px;
            justify-content: center;
            align-items: center;
            text-align: center;
            
        }
    }

    //NUESTRA FLOTA TABLET

    .flota{
        img{
            width: 315px;
            height: 250px;
        }
    }

    //FORMULARIO TABLET

    /*FORMULARIO TABLET */

    .formulario{
        margin-left: 15px;
        margin-top: 15px;
        div{
            background-image: url(../imagenes/formulariofondotablet.png);
            width: 100%;
            height: 300px;
            background-repeat: no-repeat;
            margin-top: 105px;}
        img{
            visibility: hidden;
        }
    }
}

//RESPONSIVE MOBILE

/*RESPONSIVE MOBILE*/

@media (max-width: 480px){

    /*NAV BAR MOBILE*/

    .navbar{
        width: 90%;
        display: flex;
        flex-direction: column;
        header{
            margin-bottom: 15px;}
            ul li{
                display: block;
                margin-bottom: 5px;
                
                a{
                    font-size: large;
                    
                }
            }
        
        
    }


    //FOOTER MOBILE

    /*FOOTER MOBILE*/ 

    .pie-pagina .grupo-1{
        grid-template-columns: repeat(1, 1fr);
        
    }

    //INDEX PRINCIPAL MOBILE

    /*INDEX PRINCIPAL MOBILE*/

    .contenido-principal{
        div{
            .stytextindex{
                font-size: x-large;
                margin-top: 190px;
            }
        }
    }

    .contenido-sec{
        grid-template-columns: 350px;
        grid-template-rows: 200px;
        align-items: center;
        div{
            height: 200px;
            p{
                padding-top: 50px;
                font-size: small;
            }
        }
    }

    //PRESENTATION INDEX MOBILE

    /*PRESENTATION INDEX MOBILE*/

    .us{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p{
            font-size: medium;}
        img{
            margin-top: 10px;
            width: 50px;
            height: 50px;
        }
    }

    .img-us{
        visibility: hidden;
        position: fixed;
    }

    //SERVICIOS INDEX MOBILE

    /*SERVICIOS MOBILE*/

    .servicios{
        background-image: none;
        display: grid;
        grid-template-rows: 200px;
        grid-template-columns: 400px; 
        margin: 0px; 
        img{
            width: 400px;
            height: 200px;
            border-radius: 15px;
            margin: 0px;}
        p{
            font-size: x-large;
            width: 400px;
            height: 200px;
        }
    }


}